 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Abyssinica+SIL&family=Montserrat:wght@100;400&display=swap');

*{
    margin:0;
    padding:0;

}

.fundo{
    background-image: linear-gradient(15deg,rgb(101, 45, 112),pink);
    height:120vh;
    color:white;
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
}

.calculadora{
    position:absolute;
    background-color:rgba(197, 213, 223, 0.548);
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding:15px;
}
.botao{
    width:50px;
    height:50px;
    font-size: 25px;
    cursor:pointer;
    background-color: rgb(255, 255, 255);
    border:none;
    color: #000000;
    margin:0.5px;
    border-radius: 10px;


}

.botao:hover{
    background-color: rgba(165, 234, 247, 0.26);
    font-size: 24.1px;

}
#resultado{
    background-color: #fff;
    width:207px;
    height: 30px;
    margin:5px;
    font-size: 25px;
    color:black;
    text-align: right;
    padding:5px;


}